$fontFamily: "";

$bkgColorNav: #2b2626;
$orange: #f8b742;
$black: #000000;
$gray: #6f6f6f;
$red: #ff0000;
$white: #ffffff;
$fontSizeNomal: 1.3em;
$fontColorNav: -webkit-linear-gradient(
    -140.9469deg,
    #9a712b 0%,
    #fbcd5a 3.3708%,
    #a2772b 7.3034%,
    #9f762b 9%,
    #ae862d 12%,
    #b88d2d 13%,
    #be922d 14%,
    #f9e171 37.6404%,
    #fcde70 44.382%,
    #f8da6a 51.6854%,
    #f9d261 57.8652%,
    #facf5e 64%,
    #be922d 84%,
    #9d762b 92%,
    #aa7f2d 93%,
    #b98f2e 94%,
    #cfa331 95%,
    #e4b84a 96%,
    #fbcd5a 97%,
    #be922d 100%
);
